config SHIELD_CRADIOD_LEFT
	def_bool $(shields_list_contains,cradiod_left)
config SHIELD_CRADIOD_RIGHT
	def_bool $(shields_list_contains,cradiod_right)
config SHIELD_CRADIOD_DONGLE
	def_bool $(shields_list_contains,cradiod_dongle)
